<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shery | Home</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
<body>
  <div id="main">
    <% include ../partials/nav.ejs %>
      <div id="page-1">
        <div id="page-1-left">
          <div id="page-1-main">
            <h1>Learn from the <span>coolest <br> coding plateform</span> in <br> India.</h1>
            <h6 style="margin-top: 0vh;">
              <i class="ri-check-line"></i>
              Top notch projects
            </h6>
            <h6>
              <i class="ri-check-line"></i>
              Support via mentors
            </h6>
            <a href="/courses" id="cta">Explore our cources</a>
            <div id="page1-down">
              <div id="left">
                <img src="https://sheryians.com/Assets/images/Icon%20awesome-feather-alt.png" alt="">
              </div>
              <div id="right">
                we're about coding and designing, it's in our heart & we would love to share all of it with you.
              </div>
            </div>
          </div>
        </div>
        <div id="page-1-right"></div>
      </div>
      <div id="page2">
        <div id="page2left">
          <div class="image">
            <img src="../images/second img.png" alt="">
          </div>
        </div>
        <div id="page2right">
          <h2>Benefit from our online <br> Learning</h2>
          <div id="coursesdets">
            <div class="coursesdets">
              <div class="detsphoto">
                <img src="../images/Icons/certificate_2490354.png" alt="">
              </div>
              <div class="detstext">
                <h3>Online Degree</h3>
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Corporis pariatur eveniet
                  maiores nemo?</h6>
              </div>
            </div>
            <div class="coursesdets">
              <div class="detsphoto">
                <img src="../images/Icons/movie_4867142.png" alt="">
              </div>
              <div class="detstext">
                <h3>Short Courses</h3>
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Corporis pariatur eveniet
                  maiores nemo?</h6>
              </div>
            </div>
            <div class="coursesdets">
              <div class="detsphoto">
                <img src="../images/Icons/balance_7457783.png" alt="">
              </div>
              <div class="detstext">
                <h3>Learn With Experts</h3>
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Corporis pariatur eveniet
                  maiores nemo?</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="page3">
        <div id="page3text">
          <h1>Our Popular Courses</h1>
          <h6>Discover some of the many benefit you will enjoy when you <br> add us to your online learning
            platform.</h6>
        </div>
        <div id="popularcourses">
          <div class="coursescard">
            <div class="coursespic">
              <img src="./images/hands-working-with-laptop-title-online-study-screen.jpg" alt="">
            </div>
            <div class="rating">
              <h5>english deperment</h5>
              <h6>⭐4.9</h6>
            </div>
            <h3 class="coursesname">
              Master English: How to Improve Your English Speaking
            </h3>
            <div class="coursestype">
              <h5><i class="ri-play-circle-fill"></i> 10x Lesson</h5>
              <h5> <i class="ri-vidicon-fill"></i> Online Class</h5>
            </div>
          </div>
          <div class="coursescard">
            <div class="coursespic">
              <img src="./images/medium-shot-man-with-laptop.jpg" alt="">
            </div>
            <div class="rating">
              <h5>english deperment</h5>
              <h6>⭐4.9</h6>
            </div>
            <h3 class="coursesname">
              Master English: How to Improve Your English Speaking
            </h3>
            <div class="coursestype">
              <h5><i class="ri-play-circle-fill"></i> 10x Lesson</h5>
              <h5> <i class="ri-vidicon-fill"></i> Online Class</h5>
            </div>
          </div>
          <div class="coursescard">
            <div class="coursespic">
              <img src="./images/medium-shot-man-with-laptop.jpg" alt="">
            </div>
            <div class="rating">
              <h5>english deperment</h5>
              <h6>⭐4.9</h6>
            </div>
            <h3 class="coursesname">
              Master English: How to Improve Your English Speaking
            </h3>
            <div class="coursestype">
              <h5><i class="ri-play-circle-fill"></i> 10x Lesson</h5>
              <h5> <i class="ri-vidicon-fill"></i> Online Class</h5>
            </div>
          </div>
          <div class="coursescard">
            <div class="coursespic">
              <img src="./images/Smiling female teacher standing near whiteboard, explaining rules.jpg" alt="">
            </div>
            <div class="rating">
              <h5>english deperment</h5>
              <h6>⭐4.9</h6>
            </div>
            <h3 class="coursesname">
              Master English: How to Improve Your English Speaking
            </h3>
            <div class="coursestype">
              <h5><i class="ri-play-circle-fill"></i> 10x Lesson</h5>
              <h5> <i class="ri-vidicon-fill"></i> Online Class</h5>
            </div>
          </div>
        </div>
      </div>
      <div id="page4">
        <div id="page4text">
          <h1>Student Testiomonial</h1>
          <h6>Discover some of the many benefit you will enjoy when you <br> add us to your online learning
            platform.</h6>
        </div>
        <div id="review">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swipertext">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at corrupti maiores
                    assumenda, iste ab doloremque tempora iure ad doloribus laudantium non recusandae
                    qui et.</p>
                  <div class="reviewpics">
                    <div class="reviewpic">
                      <img src="./images/medium-shot-man-with-laptop.jpg" alt="">
                    </div>
                  </div>
                  <div class="reviewername">
                    <h3>Nitish Kumar</h3>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swipertext">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at corrupti maiores
                    assumenda, iste ab doloremque tempora iure ad doloribus laudantium non recusandae
                    qui et.</p>
                  <div class="reviewpics">
                    <div class="reviewpic">
                      <img src="./images/hands-working-with-laptop-title-online-study-screen.jpg" alt="">
                    </div>
                  </div>
                  <div class="reviewername">
                    <h3>Gulshan kumar</h3>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swipertext">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at corrupti maiores
                    assumenda, iste ab doloremque tempora iure ad doloribus laudantium non recusandae
                    qui et.</p>
                  <div class="reviewpics">
                    <div class="reviewpic">
                      <img src="./images/toa-heftiba-O3ymvT7Wf9U-unsplash.jpg" alt="">
                    </div>
                  </div>
                  <div class="reviewername">
                    <h3>Sankalp Jhoson</h3>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swipertext">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at corrupti maiores
                    assumenda, iste ab doloremque tempora iure ad doloribus laudantium non recusandae
                    qui et.</p>
                  <div class="reviewpics">
                    <div class="reviewpic">
                      <img src="./images/Smiling female teacher standing near whiteboard, explaining rules.jpg" alt="">
                    </div>
                  </div>
                  <div class="reviewername">
                    <h3>Anurag Yadav</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
      <div id="final-last">
        <div id="final-last-1">
          <h1>We are social</h1>
          <h5>Lots of content is waiting for you on our social pages</h5>
          <div id="socials">
            <a target="_blank" href=""><i class="ri-instagram-line"></i></a>
            <a target="_blank" href=""><i class="ri-linkedin-box-fill"></i></a>
            <a target="_blank" href=""><i class="ri-twitter-fill"></i></a>
            <a target="_blank" href=""><i class="ri-youtube-fill"></i></a>
            <a target="_blank" href=""><i class="ri-pinterest-fill"></i></a>
          </div>
        </div>
        <div id="footer">
          <div id="footerleft">
            <div id="logo">
              <div id="logoimg">
                <img src="../images/attachment_58846331.png" alt="">
              </div>
              <div class="logoname" id="logoname">
                BrainBoost
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere mollitia deleniti quis ut blanditiis
              asperiores alias veritatis ad totam omnis.</p>
            <a href="tel:8709141863">+91-8709141863</a>
            <a href="">nitishjsr7209@gmail.com</a>
          </div>
          <div id="footerright">
            <h1>Contact</h1>
            <input type="text" placeholder="Enter your email">
            <button>Subscribe</button>
            <a href=""><i class="ri-instagram-line"></i></a>
            <a href=""><i class="ri-facebook-circle-fill"></i></a>
            <a href=""><i class="ri-twitter-fill"></i></a>
          </div>
        </div>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
        type: "fraction",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</body>
</html>