<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <ul>
            <% data.forEach(item=> { %>
                <li>
                    <%= item %>
                </li>
                <% }) %>
        </ul>

        <% if (pages.length> 1) { %>
            <div class="pagination">
                <% pages.forEach(page=> { %>
                    <% if (page===currentPage) { %>
                        <span>
                            <%= page %>
                        </span>
                        <% } else { %>
                            <a href="?page=<%= page %>">
                                <%= page %>
                            </a>
                            <% } %>
                                <% }) %>
            </div>
            <% } %>
    </div>

    <script>
        function paginate(items, currentPage, pageSize) {
            const startIndex = (currentPage - 1) * pageSize;
            const endIndex = startIndex + pageSize;
            return items.slice(startIndex, endIndex);
        }
    </script>
</body>
</html>